*{
	font-family: 'Lobster', cursive;
	font-weight: 100;
	font-size: 20px;
}
body{
	background-color: aquamarine;
}
/*.texto{
	padding: 20px;

}
/*.texto::first-line{
	color: blue;
}*/

/*.texto::first-letter{
	color: blue;
	font-size: 2em;
}*/

form{
	margin: 100px auto;
	display: block;
	background-color: #555;
	padding: 40px;
	width: 50%;
}

input{
	padding: 6px;
	width: 100%
}

input::placeholder{
	color: red;
	font-size: 15px;
}